<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inti.ricoh.julfi.idap">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.StudentInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.StudentOption"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.WithdrawActivityA"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.SSDActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.TranscriptActvity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.StudentMainMenu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Student.TrackRequest"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Employee.EmployeeActivity"
            android:label="@string/title_activity_employee"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>